@import "tailwindcss";
@import "@fontsource-variable/geist";

@theme {
  --font-sans: "Geist Variable", "Geist fallback", "Geist", sans-serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono,
    Courier New, monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --shadow-border: 0 0 0 1px var(--border);
  --shadow-elevation: 0 2px 2px rgba(0, 0, 0, 0.04);
  --shadow-card: var(--shadow-card-var);

  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-md: var(--radius);
  --radius-sm: calc(var(--radius) - 2px);
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --card: #ffffff;
  --card-foreground: #171717;

  --popover: #ffffff;
  --popover-foreground: #171717;

  --primary: #171717;
  --primary-foreground: #ffffff;

  --secondary: #fafafa;
  --secondary-foreground: #171717;

  --muted: #fafafa;
  --muted-foreground: #4d4d4d;

  --accent: #0072f5;
  --accent-foreground: #ffffff;

  --destructive: #ff5b4f;
  --destructive-foreground: #ffffff;

  --border: rgba(0, 0, 0, 0.08);
  --input: rgba(0, 0, 0, 0.08);
  --ring: hsla(212, 100%, 48%, 1);

  --radius: 6px;

  --shadow-card-var:
    0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.04),
    0 8px 8px -8px rgba(0, 0, 0, 0.04), inset 0 0 0 1px #fafafa;

  color-scheme: light;

  @apply font-sans antialiased;
  font-feature-settings: "liga" 1;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;

  --card: #000000;
  --card-foreground: #ffffff;

  --popover: #000000;
  --popover-foreground: #ffffff;

  --primary: #ffffff;
  --primary-foreground: #171717;

  --secondary: #171717;
  --secondary-foreground: #ffffff;

  --muted: #171717;
  --muted-foreground: #a1a1a1;

  --accent: #0072f5;
  --accent-foreground: #ffffff;

  --destructive: #ff5b4f;
  --destructive-foreground: #ffffff;

  --border: rgba(255, 255, 255, 0.145);
  --input: rgba(255, 255, 255, 0.145);
  --ring: hsla(212, 100%, 48%, 1);

  --shadow-card-var:
    0 0 0 1px rgba(255, 255, 255, 0.145), 0 2px 2px rgba(0, 0, 0, 0.4),
    0 8px 8px -8px rgba(0, 0, 0, 0.04), inset 0 0 0 1px rgba(255, 255, 255, 0.05);

  color-scheme: dark;
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    &:where(.system, .system *) {
      @slot;
    }
  }
}

@variant not-dark {
  &:not(:where(.dark, .dark *)) {
    @media not (prefers-color-scheme: dark) {
      @slot;
    }

    &:not(:where(.system, .system *)) {
      @slot;
    }
  }
}

@utility line-y {
  @apply relative;
  @apply before:absolute before:top-0 before:-left-[100vw] before:h-px before:w-[200vw] before:bg-border;
  @apply after:absolute after:bottom-0 after:-left-[100vw] after:h-px after:w-[200vw] after:bg-border;
}

@utility shadow-border {
  box-shadow: var(--shadow-border);
}

@utility shadow-card {
  box-shadow: var(--shadow-card);
}

@utility tracking-display {
  letter-spacing: -0.06em;
}

@utility tracking-heading {
  letter-spacing: -0.04em;
}

@utility tracking-tight-alt {
  letter-spacing: -0.02em;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold tracking-heading;
  }

  a {
    @apply transition-colors;
  }

  :focus-visible {
    outline: 2px solid var(--ring);
    outline-offset: 2px;
  }
}
