---
import BaseLayout from "@/layouts/BaseLayout.astro";
import About from "@/components/About.astro";
import FindMe from "@/components/FindMe.astro";
import Gallery from "@/components/Gallery.astro";
import TimeZone from "@/components/TimeZone.astro";
import LogoCard from "@/components/LogoCard.astro";
import Projects from "@/components/Projects.astro";
import Contact from "@/components/Contact.astro";
import Quotes from "@/components/Quotes.astro";
import Footer from "@/components/Footer.astro";

import { siteConfig } from "@/site.config";
---

<BaseLayout title={siteConfig.name} description={siteConfig.description}>
  <main class="flex-auto p-4">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-4">
      <About />
      <FindMe />
      <TimeZone />
      <Projects />
      <Gallery />
      <LogoCard />
      <Quotes />
      <Contact />
      <Footer />
    </div>
  </main>
</BaseLayout>
