---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { Image } from 'astro:assets'

import Portrait from '@/assets/portrait.jpg'

import { Button } from '@/components/ui/button'
import { AspectRatio } from '@/components/ui/aspect-ratio'
import { Icons } from '@/components/Icons'
---

<BaseLayout
  title="Long Nhat Nguyen | Website"
  description="Welcome to Long Nhat Nguyen's website"
>
  <div class="mt-16 sm:mt-32 sm:px-8">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">
          <div
            class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-1 lg:gap-y-12"
          >
            <div class="lg:pl-20">
              <div class="max-w-xs px-2.5 lg:max-w-none">
                <AspectRatio ratio={1 / 1}>
                  <Image
                    src={Portrait}
                    width={1024}
                    height={1024}
                    sizes="(min-width: 1024px) 32rem, 20rem"
                    alt="My name is Long Nhat Nguyen"
                    class="rotate-3 rounded-2xl object-cover"
                  />
                </AspectRatio>
              </div>
            </div>
            <div class="lg:order-first lg:row-span-2">
              <h1
                class="scroll-m-20 py-3 font-heading text-4xl font-extrabold tracking-tight lg:text-5xl"
              >
                <span
                  class="bg-gradient-to-br from-amber-300 via-orange-500 to-yellow-400 bg-clip-text text-transparent"
                >
                  Hello humans,
                </span> my name is
                <span
                  class="bg-gradient-to-bl from-blue-300 via-sky-500 to-cyan-400 bg-clip-text text-transparent"
                >
                  Long Nhat Nguyen
                </span>
              </h1>
              <p class="leading-7 [&:not(:first-child)]:mt-6">
                Music and photography have always been my passions, filling my
                life with joy and creativity. Recently, I have discovered an
                interest in programming that has captivated me. Although my
                knowledge in programming is limited, I find great enjoyment in
                exploring this fascinating field.
              </p>
              <blockquote class="mt-6 italic">
                "If we'll ever be remembered, I know it'll be for the way that
                we love."
              </blockquote>
              <div class="mt-6 flex flex-wrap items-center">
                <a
                  aria-label="Me on GitHub"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/torn4dom4n"
                >
                  <Button variant="ghost" size="icon" class="h-9 w-9 p-0">
                    <Icons.github className="h-6 w-6" />
                    <span class="sr-only">GitHub</span>
                  </Button>
                </a>
                <a
                  aria-label="Me on YouTube"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.youtube.com/@torn4dom4n"
                >
                  <Button variant="ghost" size="icon" class="h-9 w-9 p-0">
                    <Icons.youtube className="h-6 w-6" />
                    <span class="sr-only">YouTube</span>
                  </Button>
                </a>
                <a
                  aria-label="Me on Facebook"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://facebook.com/torn4dom4n"
                >
                  <Button variant="ghost" size="icon" class="h-9 w-9 p-0">
                    <Icons.facebook className="h-6 w-6" />
                    <span class="sr-only">Facebook</span>
                  </Button>
                </a>
                <a
                  aria-label="Me on Instagram"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://instagram.com/torn4dom4n"
                >
                  <Button variant="ghost" size="icon" class="h-9 w-9 p-0">
                    <Icons.instagram className="h-6 w-6" />
                    <span class="sr-only">Instagram</span>
                  </Button>
                </a>
                <a
                  aria-label="Me on X"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://twitter.com/torn4dom4n"
                >
                  <Button variant="ghost" size="icon" class="h-9 w-9 p-0">
                    <Icons.X className="h-6 w-6" />
                    <span class="sr-only">X</span>
                  </Button>
                </a>
                <a
                  aria-label="Me on LinkedIn"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://linkedin.com/in/torn4dom4n"
                >
                  <Button variant="ghost" size="icon" class="h-9 w-9 p-0">
                    <Icons.linkedin className="h-6 w-6" />
                    <span class="sr-only">LinkedIn</span>
                  </Button>
                </a>
                <a
                  aria-label="Me on Reddit"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://reddit.com/user/torn4dom4n"
                >
                  <Button variant="ghost" size="icon" class="h-9 w-9 p-0">
                    <Icons.reddit className="h-6 w-6" />
                    <span class="sr-only">Reddit</span>
                  </Button>
                </a>
                <a
                  aria-label="Me on Pinterest"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://pinterest.com/torn4dom4n"
                >
                  <Button variant="ghost" size="icon" class="h-9 w-9 p-0">
                    <Icons.pinterest className="h-6 w-6" />
                    <span class="sr-only">Pinterest</span>
                  </Button>
                </a>
                <a
                  aria-label="Me on SoundCloud"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://soundcloud.com/torn4dom4n"
                >
                  <Button variant="ghost" size="icon" class="h-9 w-9 p-0">
                    <Icons.soundcloud className="h-6 w-6" />
                    <span class="sr-only">SoundCloud</span>
                  </Button>
                </a>
                <a
                  aria-label="Me on Mastodon"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://mstdn.social/@torn4dom4n"
                >
                  <Button variant="ghost" size="icon" class="h-9 w-9 p-0">
                    <Icons.mastodon className="h-6 w-6" />
                    <span class="sr-only">SoundCloud</span>
                  </Button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
