---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button"> & {
  asChild?: boolean;
};

const props = Astro.props as Props;
const { class: className, asChild = false, ...rest } = props;

const hasChildren = Astro.slots.has("default");
---

{
	asChild && hasChildren ? (
		<div class="dialog-close" data-as-child>
			<slot />
		</div>
	) : (
		<button type="button" class:list={["dialog-close", className]} {...rest}>
			<slot>Demo close button</slot>
		</button>
	)
}
