---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button"> & {
  asChild?: boolean;
};

const { class: className, asChild = false, ...rest } = Astro.props;

let hasChildren = false;
if (Astro.slots.has("default")) {
  hasChildren = true;
}
---

{
	asChild && hasChildren ? (
		<div class="dialog-trigger" data-as-child>
			<slot />
		</div>
	) : (
		<button
			type="button"
			aria-haspopup="dialog"
			class:list={["dialog-trigger", className]}
			{...rest}
		>
			<slot />
		</button>
	)
}
