---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";
import { cn } from "@/lib/utils";

type Props = Omit<HTMLAttributes<"h2">, "id"> &
  VariantProps<typeof dialogTitle>;

const dialogTitle = cva("text-2xl font-semibold tracking-tight leading-none", {
  variants: {
    size: {
      sm: "text-xl",
      md: "text-2xl",
      lg: "text-3xl",
    },
  },
  defaultVariants: {
    size: "md",
  },
});

const { class: className, size, ...rest } = Astro.props;
---

<h2 class={cn(dialogTitle({ size }), className)} {...rest}>
  <slot />
</h2>
