---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";
import { cn } from "@/lib/utils";

type Props = HTMLAttributes<"div"> & VariantProps<typeof dialogFooter>;

const dialogFooter = cva("flex gap-2", {
  variants: {
    layout: {
      vertical: "flex-col-reverse",
      horizontal: "sm:flex-row sm:justify-end",
    },
  },
  defaultVariants: {
    layout: "horizontal",
  },
});

const { class: className, layout, ...rest } = Astro.props;
---

<div class={cn(dialogFooter({ layout }), className)} {...rest}>
  <slot />
</div>
