---
import { Mail } from "lucide-react";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { siteConfig } from "@/site.config";
---

<Card className="md:col-span-2 lg:col-span-4">
  <CardHeader>
    <CardTitle
      className="text-center text-xl font-medium tracking-tight text-primary md:text-6xl"
    >
      Send me <span class="lg:block">a letter</span>
    </CardTitle>
  </CardHeader>

  <CardContent className="flex flex-col items-center justify-center space-y-4">
    <a
      aria-label="Nhat Nguyen's Email"
      target="_blank"
      rel="noopener noreferrer"
      href={`mailto:${siteConfig.links.email}`}
      class="inline-flex items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground transition-colors hover:bg-primary/90 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2"
    >
      <Mail class="mr-2 size-4" />
      Email
    </a>
  </CardContent>
</Card>