---
import { Button } from '@/components/ui/button'

import { Card, CardContent, CardHeader, CardTitle } from '@/components/ui/card'
import { Input } from '@/components/ui/input'
---

<Card
  className="relative flex h-full flex-col items-center justify-center overflow-hidden p-8 lg:col-span-2 lg:row-start-4"
>
  <CardHeader>
    <CardTitle
      className="text-center text-xl font-medium tracking-tight text-primary md:text-6xl"
    >
      Send me <span class="lg:block">a letter</span>
    </CardTitle>
  </CardHeader>
  <CardContent>
    <div class="flex w-full max-w-sm items-center space-x-2">
      <Input type="email" placeholder="Email" />
      <Button type="submit">Send</Button>
    </div>
  </CardContent>
</Card>
