---
import { Button } from "@/components/ui/button";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { siteConfig } from "@/site.config";
import { Icon } from "astro-icon/components";

const socialLinks = [
  {
    name: "GitHub",
    icon: "simple-icons:github",
    href: siteConfig.links.github,
  },
  {
    name: "YouTube",
    icon: "simple-icons:youtube",
    href: siteConfig.links.youtube,
  },
  {
    name: "Facebook",
    icon: "simple-icons:facebook",
    href: siteConfig.links.facebook,
  },
  {
    name: "Instagram",
    icon: "simple-icons:instagram",
    href: siteConfig.links.instagram,
  },
  { name: "X", icon: "simple-icons:x", href: siteConfig.links.X },
  {
    name: "LinkedIn",
    icon: "simple-icons:linkedin",
    href: siteConfig.links.linkedin,
  },
  {
    name: "Reddit",
    icon: "simple-icons:reddit",
    href: siteConfig.links.reddit,
  },
  {
    name: "Pinterest",
    icon: "simple-icons:pinterest",
    href: siteConfig.links.pinterest,
  },
  {
    name: "SoundCloud",
    icon: "simple-icons:soundcloud",
    href: siteConfig.links.soundcloud,
  },
  {
    name: "Mastodon",
    icon: "simple-icons:mastodon",
    href: siteConfig.links.mastodon,
  },
];
---

<Card className="p-8">
  <CardHeader className="w-full">
    <CardTitle
      className="text-xl font-normal tracking-tight text-primary lg:text-6xl"
    >
      Find me on
    </CardTitle>
  </CardHeader>
  <CardContent className="w-full">
    <div
      class="mt-4 grid w-full grid-cols-5 justify-center gap-4 md:grid-cols-10 lg:grid-cols-5"
    >
      {
        (() => {
          const elements = [];
          for (const { name, icon, href } of socialLinks) {
            elements.push(
              <div class="p-1">
                <a
                  aria-label={`Nhat Nguyen's ${name}`}
                  target="_blank"
                  rel="noopener noreferrer"
                  href={href}
                >
                  <Button variant="ghost" size="icon">
                    <Icon name={icon} class="size-6" />
                    <span class="sr-only">{name}</span>
                  </Button>
                </a>
              </div>,
            );
          }
          return elements;
        })()
      }
    </div>
  </CardContent>
</Card>
