---
import { Image } from 'astro:assets'

import { AspectRatio } from '@/components/ui/aspect-ratio'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import RealLove from '@/assets/real-love-martingarrix-lloyiso.jpg'
---

<Card
  className="group flex h-full flex-col justify-between p-8 md:grid md:grid-cols-2 md:items-center md:gap-12 lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-2 lg:grid-cols-none lg:gap-0"
>
  <CardHeader>
    <CardTitle className="font-medium tracking-tight text-primary md:text-6xl">
      Gallery
    </CardTitle>
    <CardDescription className="mt-4 text-sm">
      Music has always been a constant source of inspiration in my life. It has
      the power to transport me to different worlds, evoke a range of emotions,
      and provide solace during challenging times. Whether I'm listening to a
      catchy pop song, losing myself in the intricate melodies of classical
      compositions, or immersing myself in the raw and heartfelt lyrics of a
      singer-songwriter, music has the ability to touch my soul like nothing
      else. It has taught me the importance of self-expression, allowed me to
      connect with others on a deeper level, and provided a soundtrack to my
      most cherished memories. Music has not only shaped my identity but has
      also become an integral part of who I am as a person. It has given me the
      courage to pursue my dreams, overcome obstacles, and celebrate the beauty
      of life.
    </CardDescription>
  </CardHeader>
  <CardContent>
    <a href="https://www.youtube.com/watch?v=aDNRphs9MiY" target="_blank">
      <AspectRatio ratio={1 / 1}>
        <Image src={RealLove} alt="This is Real Love" />
      </AspectRatio>
    </a>
  </CardContent>
</Card>
