---
import { Button } from '@/components/ui/button'

import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
---

<Card
  className="flex flex-col items-center justify-between overflow-hidden p-8 text-center lg:text-left"
>
  <CardHeader>
    <CardTitle className="text-xl tracking-tight text-primary lg:text-7xl">
      My location!
    </CardTitle>
    <CardDescription className="mt-4 text-sm md:max-w-xs lg:max-w-none ">
      Unlock the doors to explore the worlds.
    </CardDescription>
  </CardHeader>
  <CardContent>
    <Button>
      <a
        href="https://www.google.com/mymaps/viewer?mid=1xUZVtJ6FSuD6N9Ta8pDfmiz-3PI&hl=de"
        target="_blank"
      >
        VietNam
      </a>
    </Button>
  </CardContent>
</Card>
