---
import { Image } from "astro:assets";
import me from "../assets/logo.png";
---

<div class="flex flex-col mx-auto pt-8 pb-8">
  <Image src={me} alt="Logo" width={480} class="w-[48px] rounded-lg" />
</div>
