---
import { Card, CardContent, CardHeader, CardTitle } from '@/components/ui/card'
---

<Card className="flex h-full flex-col justify-between p-8 lg:row-start-4">
  <CardHeader>
    <CardTitle
      className="text-xl font-medium tracking-tight text-primary md:text-4xl"
    >
      Thanks to
    </CardTitle>
  </CardHeader>
  <CardContent className="gap-6 md:grid md:grid-cols-2 lg:grid-cols-1">
    <div class="mt-4">
      <p class="text-sm text-orange-500 dark:text-orange-300">
        "Beautifully designed components that you can copy and paste into your
        apps. Accessible. Customizable. Open Source."
      </p>
      <p class="mt-2 text-xs text-zinc-400">
        <span class="block text-xs">Shadcn</span>
        <span class="block text-xs">Developer</span>
      </p>
    </div>
    <div class="mt-4">
      <p class="text-sm text-pink-500 dark:text-pink-400">
        "PrimaPersona is made up of one landing page enabling you and excellent
        way to showcase your work."
      </p>
      <p class="mt-2 text-xs">
        <span class="block text-xs">Michael Andreuzza</span>
        <span class="block text-xs">Developer</span>
      </p>
    </div>
  </CardContent>
</Card>
