---
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<Card className="text-center lg:text-left">
  <CardHeader>
    <CardTitle
      className="text-xl font-medium tracking-tight text-primary lg:text-6xl"
    >
      Time Zone
    </CardTitle>
    <CardDescription className="mt-4 text-sm lg:text-xl">
      How about now.
    </CardDescription>
  </CardHeader>
  <CardContent>
    <span id="time-zone" class="text-xl">00:00:00</span>
  </CardContent>
</Card>

<!-- This code from: https://github.com/florian-lefebvre/portfolio/blob/v6/astro/src/pages/_components/Hero.astro#L42-L65 -->
<script is:inline>
  (() => {
    const updateTime = () => {
      const today = new Date();
      const formatter = new Intl.DateTimeFormat("en-US", {
        timeZone: "Asia/Ho_Chi_Minh",
        hour12: false, // 24-hour format
        hour: "numeric",
        minute: "numeric",
        second: "numeric",
      });

      // Format the date using the formatter
      const timeInTimeZone = formatter.format(today);

      document.getElementById("time-zone").innerText = timeInTimeZone;
    };

    updateTime();
    return setInterval(() => {
      updateTime();
    }, 1000);
  })();
</script>
