---
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: string | undefined;
}

const { title, description, ogImage } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <Head title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="min-h-dvh bg-background font-sans antialiased">
    <Header />
    <slot />
  </body>
</html>
