---
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import { GridPattern } from "@/components/ui/grid-pattern";

const { ...head } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <Head {...head} />
  </head>
  <body class="h-full min-h-dvh bg-background font-sans antialiased relative">
    <Header />
    <GridPattern className="z-0" width={40} height={40} />
    <slot />
  </body>
</html>
