---
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import { GridPattern } from "@/components/ui/grid-pattern";

const { ...head } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <Head {...head} />
  </head>
  <body class="h-full min-h-dvh bg-background font-sans antialiased relative">
    <Header />
    <GridPattern
      width={40}
      height={40}
      strokeDasharray={"14 2"}
      className="z-0"
    />
    <slot />
  </body>
</html>
