---
import HeadSEO from '@/components/HeadSEO.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import ThemeProvider from '@/components/ThemeProvider.astro'

interface Props {
  title?: string | undefined
  description?: string | undefined
  ogImage?: URL | undefined
}

const { title, description, ogImage } = Astro.props
---

<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
    <ThemeProvider />
  </head>
  <body class="min-h-dvh bg-background font-sans antialiased">
    <slot />
  </body>
</html>
